@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>united Melamine</title>
</head>
<body>
    <div>
        <h3 class="text-center">United Melamine</h3>
        <p>Website Under Developement. Please contact Us on following numbers:</p>
        <br />
        <h2>Mohammad Arslan: <a>0334-9712867</a></h2>
        <h2>Shakeel Ahmad: <a>0333-8229306</a>&nbsp; - <a>0312-8229306</a></h2>

    </div>
</body>
</html>
